@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');
::ng-deep .movie-bg-header {
  font-family: 'Mada', sans-serif;
  background: url('../../assets/img/wall.jpg') center no-repeat;
  background-size:cover;
  width: 100%;
//   height: 100%;
  display: inline-block;
}


::ng-deep i {
  font-style: normal;
} 

.allmovies{
  background-color: #0e0e0e;
  font-size: 62.5%;
}

.essaie{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

::ng-deep hr {
  height: 2px;
  background-color: #f90;
  margin-bottom: 4rem;
}

::ng-deep  .main {
  width: 1100px;
    background: whitesmoke;
    margin: auto;
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1.5em 2em;
    z-index: -10px;
    
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  margin-top: 6%;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

::ng-deep  .logo b{
  font: 400 19vh "Mada";
  color: #ffe;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffc107, 0 0 0.5em #ffc107, 0 0 0.1em #ffc107, 0 10px 3px #000;
}
::ng-deep  .logo b span{
  animation: blink linear infinite 2s;
}
::ng-deep  .logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

::ng-deep *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ::ng-deep .stackedcards.init {
    opacity: 0; /* définissez l'opacité sur 0 si vous souhaitez un effet de fondu enchaîné pour empiler des cartes au chargement de la page */
 }

.badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 500px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: '';
  display: block;
  width: 190px;
  height: 300px;
  background: cadetblue;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ECECEC;
  width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
  font-size: 14px;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
