<div class="row" *ngIf="movie">
    <div class="col-md-4">
        <img src="{{movie.poster}}" alt="" class="thumbnail">
        <!-- <p>
            <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank">Visit
                Movies Website</a>
        </p> -->
    </div>
    <div class="col-md-8">
        <h2>{{movie.title}}
            <small class="label label-warning">
                {{movie.vote_average}}
                <i class="glyphicon glyphicon-star"></i>
            </small>
        </h2>
        <p>Released : {{movie.released}} - DVD : {{movie.dvd}} - Runtime : {{movie.runtime}}min</p>
        <p>
            <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres"
                class="label label-info m-r-md">
                {{genre}}
            </a>
        </p>
        <h3>Overview</h3>
        <p>
            {{movie.plot}}
        </p>
        <!--Casts-->
        <div class="row is-flex" *ngIf="movie.actors && movie.actors.length > 0">
            <div class="col-md-12">
                <h3 class="text-center">Cast</h3>
            </div>
            <div class="col-md-3" *ngFor="let actor of movie.actors">
                <div class="thumbnail">
                    <img src="https://image.tmdb.org/t/p/w500//nrRQUwZcPYUWfpgpL2g7Grkb3Mz.jpg" alt="">
                    <div class="caption">
                        <h6 class="text-center"><a routerLink="/actor/{{actor._id}}">{{actor.name}}</a></h6>
                    </div>
                </div>
            </div>
        </div>
            <div class="row is-flex" *ngIf="movie.producers && movie.actors.producers > 0">
                <div class="col-md-12">
                    <h3 class="text-center">Producers</h3>
                </div>
                <div class="col-md-3" *ngFor="let producer of movie.producers">
                    <div class="thumbnail">
                        <div class="caption">
                            <h6 class="text-center">{{producer.name}}</h6>
                        </div>
                    </div>
                </div>
        <!--Casts-->
    </div>
    <div class="row is-flex" *ngIf="movie.directors && movie.directors.length > 0">
        <div class="col-md-12">
            <h3 class="text-center">Directors</h3>
        </div>
        <div class="col-md-3" *ngFor="let director of movie.directors">
            <div class="thumbnail">
                <div class="caption">
                    <h6 class="text-center">{{director}}</h6>
                </div>
            </div>
        </div>

    </div>
    <div class="row is-flex" *ngIf="movie.writers && movie.writers.length > 0">
        <div class="col-md-12">
            <h3 class="text-center">Writers</h3>
        </div>
        <div class="col-md-3" *ngFor="let writer of movie.writers">
            <div class="thumbnail">
                <div class="caption">
                    <h6 class="text-center">{{writer}}</h6>
                </div>
            </div>
        </div>

    </div>
    <!--Similar Movies-->
    <div class="row is-flex" *ngIf="similarMovies && similarMovies.length > 0">
        <div class="col-md-12">
            <h2>Similar Movies</h2>
        </div>
        <div class="col-md-2" *ngFor="let movie of similarMovies">
            <!-- <film-card [movie]="movie"></film-card> -->
        </div>
    </div>
    <!--Similar Movies-->
    <div class="row" *ngIf="reviews && reviews.length > 0">
        <div class="col-md-12">
            <h2>Reviews</h2>
        </div>
        <div class="col-md-6" *ngFor="let review of reviews">
            <blockquote>
                <p class="text-justify">{{review.content}}</p>
                <footer><cite title="{{review.author}}"><a href="{{review.url}}"
                            target="_blank">{{review.author}}</a></cite></footer>
            </blockquote>
        </div>
    </div>