<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">CINEMATCH</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/home">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/all-films">Tous les films</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/smart-films">SmartFilms</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/home">CineTeam</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/home">Profil</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>