<!-- CORPS DE LA PAGE -->
<div class="container-global">
    <div class="row">
        <div class="accueilMain col-md-8">
            <img src="assets/img/Asset 2svgLogo.svg" class="mainLogo" alt="Logo">
            <h1>Cinematch, mieux que
                <span class="txt-rotate" data-period="1000"
                    data-rotate='[ "Polytweet...", "Polymachin...", "tout en fait !" ]'>
                </span>
            </h1>
            <h2>Slogan de ouf choisis par toute la team</h2>
        </div>
        <div class="buttonMain col-md">
            <a href="/login"><button type="button" class="btn btn-dark btn-lg">Se connecter</button></a><br />
            <a href="/register"><button type="button" class="btn btn-outline-dark btn-lg">S'inscrire</button></a>
            <!-- <button type="button" class="nav-item nav-link-edit" id="button" routerLink="/login">Se connecter</button> -->
            <!-- <button type="button" class="nav-item nav-link-edit" id="button" routerLink="/register">S'inscrire</button> -->
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
