<div id="movie" class="modal">
    <div class="modal-content">
        <div class="modal-container" style="display:flex;">
            <span onclick="document.getElementById('movie').style.display='none'" class="close-modal">&times;</span>
            <img src="https://s-media-cache-ak0.pinimg.com/originals/ce/0c/93/ce0c93d50ae68922d1f4f6667c95e1a8.jpg">
            <!-- <figcaption> -->
                <div>
                    <div class="modal-movie-titre">
                        <h1>Mad Max : Fury Road</h1>
                        <div class="modal-genre">
                            <p class="genre">Adventure, Sci-Fi, Thriller</p>
                            <span class="rated">pg-13</span>
                            <span class="duration">1h 59m</span>
                        </div>
                        <div class="movie-numbers">
                            <div class="modal-rating">
                                <div><i class="fa fa-heart"></i>
                                    <h4>6.4</h4>
                                </div>
                                <p>Rating</p>
                            </div>
                            <div class="score">
                                <div><i class="fa fa-thumbs-up"></i>
                                    <h4>42</h4>
                                </div>
                                <p>Score</p>
                            </div>
                            <div class="awards">
                                <div><i class="fa fa-trophy"></i>
                                    <h4>3</h4>
                                </div>
                                <p>Awards</p>
                            </div>
                        </div>
                    </div>
                    <p class="movie-description">Beatrice Prior must confront her inner demons and continue her fight
                        against a powerful alliance which threatens to tear her society apart with the help from others
                        on her side.</p>
                    <a href="#">Voir plus</a>
                    <div class="modal-buttons">
                        <button>Watch trailer<i class="fa fa-caret-right"></i></button>
                        <button>to watchlist<i class="fa fa-star"></i></button>
                    </div>
                </div>
        </div>
    </div>
</div>