<app-navbar></app-navbar>
<div class="movie-bg-header">
  <div class="head">
    <section class="logo"><b>A<span>ll</span>&nbsp;<span>M</span>ov<span>ie</span>s</b></section>
  </div>
</div>
  <section class="allmovies">
    <div class="main">
      <div class="test">
        <ul class="options">
          <li class="active">in theaters</li>
          <li>coming soon</li>
          <li>charts</li>
          <li>tv series</li>
          <li>trailers</li>
          <li>more</li>
        </ul>
        <div id="forms">
          <form id="range-form">
            <p>IMDb Rating</p>
            <div class="group">
              <input type="range" step="0.1" min="0.0" max="10.0" id="range" value="6">
              <p id="results">6</p>
            </div>
          </form>
          <div id="search-input">
            <input type="search" id="search" results="5" value=""><i class="fas fa-search"></i>
          </div>
        </div>
        <section id="movies">
          <div>
            <figure data-toggle="modal" data-target="#moviemodal">
              <img src="https://s-media-cache-ak0.pinimg.com/originals/ce/0c/93/ce0c93d50ae68922d1f4f6667c95e1a8.jpg">
              <figcaption>
                <h5 >Mad Max: Fury Road</h5 >
                <p>Action, Adventure, Sci-Fi</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8.3</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 120 -->
          </div>
          <div>
            <figure>
              <img
                src="https://1.bp.blogspot.com/-Ds0sudZmSq4/Vgxrr75E77I/AAAAAAAAREo/sZkZW5YMDTw/s1600/Mockingjay%2BPart%2B1.jpg">
              <figcaption>
                <h5>The Hunger Games: Mo...</h5>
                <p>Adventure, Sci-Fi, Thriller</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>6.8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 130 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/736x/0b/ab/9a/0bab9a9c671dbb7aa8626eec44a0195f.jpg">
              <figcaption>
                <h5>Jurassic World</h5>
                <p>Action, Adventure, Sci-Fi</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>7.2</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 140 -->
          </div>
          <div>
            <figure>
              <img
                src="http://cdn2-www.comingsoon.net/assets/uploads/2015/01/FIN16_Insurgent_Guns_1Sht_Trim-1422379653-mtv-14224534611.jpg">
              <figcaption>
                <h5>Insurgent</h5>
                <p>Adventure, Sci-Fi, Thriller</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>6.4</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 160 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/a1/5c/7fa15c26aa2cb48562ea37bbc177be74.jpg">
              <figcaption>
                <h5>Sicario</h5>
                <p>Action, Crime, Drama</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 170 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/a1/5c/7fa15c26aa2cb48562ea37bbc177be74.jpg">
              <figcaption>
                <h5>Sicario</h5>
                <p>Action, Crime, Drama</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 170 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/a1/5c/7fa15c26aa2cb48562ea37bbc177be74.jpg">
              <figcaption>
                <h5>Sicario</h5>
                <p>Action, Crime, Drama</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 170 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/a1/5c/7fa15c26aa2cb48562ea37bbc177be74.jpg">
              <figcaption>
                <h5>Sicario</h5>
                <p>Action, Crime, Drama</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 170 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/a1/5c/7fa15c26aa2cb48562ea37bbc177be74.jpg">
              <figcaption>
                <h5>Sicario</h5>
                <p>Action, Crime, Drama</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 170 -->
          </div>
          <div>
            <figure>
              <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/a1/5c/7fa15c26aa2cb48562ea37bbc177be74.jpg">
              <figcaption>
                <h5 class="movieTitle" >Sicario</h5  >
                <p>Action, Crime, Drama</p>
                <div class="rating"><i class="fas fa-heart"></i>
                  <h4>8</h4>
                </div>
              </figcaption>
            </figure><!-- react-empty: 170 -->
          </div>
        </section>
      </div>
    </div>
  </section>

  <div class="modal fade" id="moviemodal" tabindex="-1" role="dialog" aria-labelledby="moviemodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>