<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">

            <!-- Grid column -->
            <div class="col-md-2">
                <h6 class="text-uppercase font-weight-bold">
                    <a routerLink="/cineteam">A propos de nous</a>
                </h6>
            </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4" style="margin-top: -3%;">
            <div class="col-md-8 col-12 mt-5">
                <p>Projet réalisé dans le cadre de notre cursus scolaire d'ingénieur informatique en apprentissage au sein de Polytech Lyon.</p>
            </div>
        </div>
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    </div>
    <div class="footer-copyright text-center py-3"><p>© 2020 Copyright:
        <a href="#"> Polytech - Cinematch</a></p>
    </div>
</footer>