

#buttons{
    text-align: right;
}

#button {
    background-color: white ;
    border: none;
    color: #0f0f0f;
    padding: 8px 16px;
    text-align: center;
    margin: 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  #button:hover {opacity: 1}