<div class="page">
    <div class="signup__container">
        <div class="container__child signup__thumbnail">
            <div class="thumbnail__content text-center">
                <h1 class="heading--primary">Bienvenue sur Cinématch</h1>
                <h2 class="heading--secondary">Etes vous pret ?</h2>
            </div>
            <div class="signup__overlay"></div>
        </div>
        <div class="container__child signup__form">
            <form [formGroup]="angForm" novalidate>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" formControlName="name" id="userNameIns">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" id="emailIns"
                        (keyup)="verifEmail($event)">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="passwordIns"
                        (keyup)="setPassword($event)">
                </div>
                <div class="form-group">
                    <label for="passwordRepeat">Repeat Password</label>
                    <input type="password" class="form-control" id="passwordSecIns" (keyup)="confirmPassword($event)"
                        [ngStyle]="passwordStyle">
                </div>
                <div class="m-t-lg">
                    <ul class="list-inline">
                        <li>
                            <a href="/"><input class="btn btn--form" type="submit" (click)="validateSub()"
                                    value="Register" /></a>
                        </li><br>
                        <li>
                            <a class="signup__link" href="/login">I am already a member</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>